# Yarn
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Build files

/build/
.downloads/
tmp/
retype.manifest

# SDK's files

SDK's/*
!SDK's/index.md
!SDK's/index.yaml