<style>
    .background-holder {
        overflow-x: hidden;
        width: 100%;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .background-effect {
        width: 0px;
        height: 0px;
        border-left: 32rem solid transparent;
        border-right: 32rem solid transparent;
        border-top: 70rem solid red;
        filter: blur(120px);
        opacity: 0.15;
        z-index: 50;
        pointer-events: none;
    }

    .docs-icon {
        height: 1.11em;
        width: 1.18em;
        vertical-align: -.2em
    }

    #docs-site-header > div > div.flex.justify-between > div:nth-child(3) > button {
        display: none;
        visibility: hidden;
    }

    *::-moz-selection { 
        background-color: rgb(179 0 0);
        color: white;
    }

    *::selection {
        background-color: rgb(179 0 0);
        color: white;
    }

    /* Scroll */
    ::-webkit-scrollbar {
        width: 7px;
        background-color: transparent;
    }

    ::-webkit-scrollbar-thumb {
        background-color: rgb(179 0 0);
    }
</style>